aws-plugin/src/main/resources/xsd/aws.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="https://amazonaws.com"
            xmlns="https://amazonaws.com"
            elementFormDefault="qualified">

    <xsd:element name="credentials">
        <xsd:complexType>
            <xsd:attribute type="xsd:token" name="id" default="$aws$credentials"/>
            <xsd:attribute type="xsd:token" name="vault-ref" use="required"/>
        </xsd:complexType>
    </xsd:element>



</xsd:schema>