conductor-engine/src/main/resources/xsd/base.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="urn:conductor"
            targetNamespace="urn:conductor"
            elementFormDefault="qualified">

    <xsd:simpleType name="interpolation-token">
        <xsd:restriction base="xsd:token">
            <xsd:pattern value="\{\{.+\}\}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="container">
        <xsd:annotation>
            <xsd:documentation>
                No Operation. Simply runs its contents.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:any minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:anyAttribute/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="script">
        <xsd:annotation>
            <xsd:documentation>
                Execute the body of this tag in the execution context.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:normalizedString">
                    <xsd:anyAttribute/>
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="include">
        <xsd:annotation>
            <xsd:documentation>
                Includes the contents of the specified file. Context changes made inside the include will propagate to
                the including file.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute type="xsd:anyURI" name="src" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        The path to the file that should be included, relative to the current execution context path.
                        Interpolated.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="mode" default="xml">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:token">
                        <xsd:enumeration value="xml"/>
                        <xsd:enumeration value="js"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:anyAttribute/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="load">
        <xsd:annotation>
            <xsd:documentation>
                Loads the contents of the specified file into the context.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute type="xsd:anyURI" name="src" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        The path to the file that should be loaded, relative to the current execution context path.
                        Interpolated.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute type="xsd:token" name="id" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        The JS name for the loaded file.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute type="xsd:token" name="charset">
                <xsd:annotation>
                    <xsd:documentation>
                        The charset of the file. Defaults to UTF-8.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="mode" default="text">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:token">
                        <xsd:enumeration value="text"/>
                        <xsd:enumeration value="json"/>
                        <xsd:enumeration value="js"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:anyAttribute/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="for">
        <xsd:annotation>
            <xsd:documentation>
                Execute a loop over the contents of this element.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:any minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute type="xsd:token" name="id" default="it"/>
            <xsd:attribute type="xsd:token" name="iterator-ref" use="required"/>
            <xsd:anyAttribute/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="aggregate">
        <xsd:annotation>
            <xsd:documentation>
                Collect the contents of this element into a JS collection
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:any minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute type="xsd:token" name="id" use="required"/>
            <xsd:attribute type="xsd:token" name="return-ref" use="required"/>
            <xsd:anyAttribute/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="never-fail">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:any minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="mode" use="required">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:token">
                        <xsd:enumeration value="silent"/>
                        <xsd:enumeration value="logged"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:anyAttribute/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="vault">
        <xsd:annotation>
            <xsd:documentation>
                Loads KDBX files from the file system into the execution context. Each KDBX file overrides the files
                above it.

                Only supports KDBX files encrypted with AES/Rijndael 256-bit with a KDF of AES-KDF.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="source" minOccurs="1" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:attribute type="xsd:anyURI" name="src" use="required">
                            <xsd:annotation>
                                <xsd:documentation>
                                    The path to the KDBX file, relative to the execution context directory.
                                    Interpolated.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute type="xsd:anyURI" name="password-file">
                            <xsd:annotation>
                                <xsd:documentation>
                                    The path to a plain-text file containing the KDBX password. Interpolated.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute type="xsd:anyURI" name="key-file">
                            <xsd:annotation>
                                <xsd:documentation>
                                    The path to the key file that opens the KDBX file. Interpolated.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute type="xsd:token" name="id" default="{{defaults.engine.vault}}">
                <xsd:annotation>
                    <xsd:documentation>
                        The JS name for the vault.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:anyAttribute/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="host">
        <xsd:annotation>
            <xsd:documentation>
                Declares a single, hard-coded host.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute type="xsd:token" name="id" default="{{defaults.engine.host}}">
                <xsd:annotation>
                    <xsd:documentation>
                        The JS name for the host.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute type="xsd:token" name="address" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        The IP Address for the host. This field will not be passed through a DNS resolver. Interpolated.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="tags" default="">
                <xsd:annotation>
                    <xsd:documentation>
                        The tags associated with this host. Interpolated.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:list itemType="xsd:token"/>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ssh-port" default="{{defaults.engine.sshPort}}">
                <xsd:annotation>
                    <xsd:documentation>
                        The port on this machine with a listening SSH daemon. Defaults to 22.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union memberTypes="xsd:unsignedShort interpolation-token"/>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:anyAttribute/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="identity">
        <xsd:annotation>
            <xsd:documentation>
                Declares a login identity.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute type="xsd:token" name="id" default="{{defaults.engine.identity}}"/>
            <xsd:attribute type="xsd:token" name="username" use="required"/>
            <xsd:attribute type="xsd:string" name="password"/>
            <xsd:attribute type="xsd:token" name="public-key-ref"/>
            <xsd:attribute type="xsd:token" name="private-key-ref"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
